<?xml version='1.0' encoding='utf-8'?>
<widget id="io.greencube.nfc_buses" version="0.9.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NFC Buses</name>
    <description>
        NFC Buses - Geolocator
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Allan Naranjo
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
